body{
    background-image: url(resources/Anime_Pastel_Dream_gradient_light_grey_smoke_wallpaper_1.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-size: 180px;
}
h2{
    font-size: 150px;
}
h3{
    font-size: 100px;
}
.profileul{
    font-size: 40px;
}
table{
    text-align: left ;
}
.naf {
    font-size: 130px;
    font-family: "Oswald", sans-serif;
    color: #FFFFF0;
}
.profileul{
    color: rgb(36, 19, 100);
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    width: 100% ;
    font-family: Arial, sans-serif;
}
/* MY Future */
header {
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 0, 0);
    border: 1px solid gray;
    text-align: center;
    font-family: "Oswald", sans-serif;
    color: #FFFFF0;
    font-size: 50px;
    
}
nav {
    float: left;
    height: 200px;
    width: 20% ;
    padding: 10px;
    background-color: rgba(255, 255, 0, 0);
    border: 1px solid gray;
    text-align: center;
    color: #FFFFF0;
    font-family: "Oswald", sans-serif;
    font-size: 30px;
}
article {
    float: left;
    height: 200px;
    width: 80% ;
    padding: 10px;
    background-color: rgba(255, 255, 0, 0);
    border: 1px solid rgba(128, 128, 128, 0);
    text-align: center;
    font-family: "Oswald", sans-serif;
    color: #FFFFF0;
    font-size: 30px;
}
footer {
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 0, 0);
    border: 1px solid gray;
    text-align: center;
    clear: both;
    font-family: "Oswald", sans-serif;
    color: #FFFFF0;
    font-size: 30px;
}
#kl{
    height: 900px;
    width: 50%;
}
p{
    color: #FFFFF0;
    font-weight: 900;
    font-family: "Oswald", sans-serif;
    font-size: 30px;
}
.nav li{
    display: inline;
    font-family: "Oswald", sans-serif;
    font-size: 40px;
}
a{
    color: #d2d2b9;
    padding: 20px;
}

.nav {
    background-color: rgba(0, 0, 0, 0.299);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px; 
    overflow: hidden;
    justify-content: space-around; /* กระจายข้อความให้อยู่ในบรรทัดเดียว */
    white-space: nowrap;
}
.nad {
    white-space: nowrap;
}

.naf {
    display: inline-block; 
    white-space: nowrap;
}

.profileul {
    white-space: nowrap;
    font-size: 6.5vh;
} 

.nag {
    white-space: nowrap;
    text-align: center;
    width: 100%;
    font-size: 6vh;
}

.nam {
    display: flex; 
    justify-content: space-around; 
    flex-wrap: wrap; 
}

.nap {
    display: flex; /* ใช้ flexbox */
    justify-content: center; /* จัดข้อความให้อยู่กลาง */
    align-items: center; /* จัดแนวตั้งให้อยู่กลาง */
}

.sidebar{
    font-size: 25px;
    white-space: nowrap;
}
.nau{
    white-space: nowrap;
    align-items: center;
}


#kl {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}
@media screen and (max-width: 600px) {
    .sidebar{
       font-size: 10px; 
    }
    .nav a {
        font-size: 3.5vh;
        flex-direction: row;
    }
    .nad {
        font-size: 6vh;
    }
    .naf {
        font-size: 6vh;
        white-space: nowrap;
    }
    .profileul {
        font-size: 5vh;
    }
    .nag {
        font-size: 2vh;
    }
    .nap {    
        font-size: 3vh;
    }
    .nam{
        font-size: 1.4vh;
    }
    .nau{
        font-size: 1vh;
    }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
    .nav a {
        font-size: 40px;
    }
    .nad {
        font-size: 9vh;
    }
    .naf {
        font-size: 11vh;
        white-space: nowrap;
    }
    .nag {
        font-size: 4vh;
    }
    .nam{
        font-size: 3vh;
    }
    .nau{
        font-size: 2.5vh;
    }
}




